
.md-typeset :is(.admonition, details) {
        font-size: 0.8rem;
}

/* Pour l'admonition "exercice" */

:root {
    --md-admonition-icon--exercice: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M319.4 320.6 224 416l-95.4-95.4C57.1 323.7 0 382.2 0 454.4v9.6c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-9.6c0-72.2-57.1-130.7-128.6-133.8zM13.6 79.8l6.4 1.5v58.4c-7 4.2-12 11.5-12 20.3 0 8.4 4.6 15.4 11.1 19.7L3.5 242c-1.7 6.9 2.1 14 7.6 14h41.8c5.5 0 9.3-7.1 7.6-14l-15.6-62.3C51.4 175.4 56 168.4 56 160c0-8.8-5-16.1-12-20.3V87.1l66 15.9c-8.6 17.2-14 36.4-14 57 0 70.7 57.3 128 128 128s128-57.3 128-128c0-20.6-5.3-39.8-14-57l96.3-23.2c18.2-4.4 18.2-27.1 0-31.5l-190.4-46c-13-3.1-26.7-3.1-39.7 0L13.6 48.2c-18.1 4.4-18.1 27.2 0 31.6z"/></svg>')
}

.md-typeset .admonition.exercice, .md-typeset details.exercice {
    border-color: rgb(43, 155, 70);
}

.md-typeset .exercice > .admonition-title, .md-typeset .exercice > summary {
    background-color: rgba(43, 155, 70, 0.1);
    border-color: rgb(43, 155, 70);
}

.md-typeset .exercice > .admonition-title::before, .md-typeset .exercice > summary::before {
    background-color: rgb(43, 155, 70);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--exercice);
            mask-image: var(--md-admonition-icon--exercice);
}

/* Pour l'admonition "video" */

:root {
    --md-admonition-icon--video: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M16 3.75a.75.75 0 0 0-1.136-.643L11 5.425V4.75A1.75 1.75 0 0 0 9.25 3h-7.5A1.75 1.75 0 0 0 0 4.75v6.5C0 12.216.784 13 1.75 13h7.5A1.75 1.75 0 0 0 11 11.25v-.675l3.864 2.318A.75.75 0 0 0 16 12.25v-8.5zm-5 5.075l3.5 2.1v-5.85l-3.5 2.1v1.65zM9.5 6.75v-2a.25.25 0 0 0-.25-.25h-7.5a.25.25 0 0 0-.25.25v6.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-4.5z"/></svg>')
}

.md-typeset .admonition.video, .md-typeset details.video {
    border-color: rgb(125, 60, 152);
}

.md-typeset .video > .admonition-title, .md-typeset .video > summary {
    background-color: rgba(125, 60, 152, 0.1);
    border-color: rgb(125, 60, 152);
}

.md-typeset .video > .admonition-title::before, .md-typeset .video > summary::before {
    background-color: rgb(125, 60, 152);
    /* animation: heart 1000ms infinite; */
    -webkit-mask-image: var(--md-admonition-icon--video);
            mask-image: var(--md-admonition-icon--video);
}

#mkdocs-decrypt-msg {
    color: red;
}